<p class="page-header">Category</p>

<div class="">
    <div class="m-3">
        <div *ngFor="let alerts of defaultAlert">
            <alert [dismissible]="true" [dismissOnTimeout]="alerts.timeout" [type]="alerts.type">
                <strong>Message: </strong> {{alerts.msg}}
            </alert>
        </div>

    </div>
</div>

<p>
    <mat-card class="">
      
        <mat-card-content>
    
            <form [formGroup]="form" #formDirective="ngForm">
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Category Name</mat-label>
                        <input matInput formControlName="Name"   placeholder="Ex. Soft Drinks">
                      </mat-form-field>
                    <div class="col mt-2">

                        <button mat-raised-button class="" (click)="create(formDirective)" color="primary">{{ updating? 'Update': 'Create'}} Category</button>
    
                    </div>
                </div>
    
            </form>
    
        
    
        </mat-card-content>
    </mat-card>
</p>

<p>
    <mat-card>
        <mat-card-header>
            <mat-form-field class="example-full-width">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Enter keywords here..." #input>
              </mat-form-field>
        </mat-card-header>
        <mat-card-actions>
            
            <mat-paginator [pageSizeOptions]="[20,50,100]" ></mat-paginator>
        </mat-card-actions>
        <mat-card-content>
            

            <table mat-table class="table table-responsive table-hover" [dataSource]="datasource" matSort>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</th>
                    <td mat-cell *matCellDef="let row">{{row.Name}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row" >
                        <div class="example-flex-container">
                            <button (click)="edit(row)" mat-icon-button >
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="delete(row,formDirective)" mat-icon-button color="warn" >
                              <mat-icon>delete</mat-icon>
                            </button>
                           
                          </div>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
           
        </mat-card-content>
        
    </mat-card>
</p>