*{
    font-family: sans-serif;
    text-decoration: none;
    

}
.navbar{
    width: 100% !important;
}

mat-icon{
    color: white;
    font-family: 'Material Icons';
    vertical-align: middle;
}
.menu-head{
    color: #466be0;
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}
.user{
    width: 100%;
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;
    img{
        margin-top: 16px;
        width: 120px ;
        height: 120px;
    }
    color: white;
}

.menu{
    width: 100% !important;
}

.menu-item{
    width: 100%;
    .menu-button{
        width: 100%;
        display: block;
        font-size: 20px;
        height: 60px;
        text-align: left ;
        span{
            margin-left: 10px;
        }
        color: white !important;
       
    }

    .menu-button:active{
        background-color: darkblue;
    }

    mat-icon{
        float: left;
        margin-left: 20px;
    }

    :hover{
        background-color: darkblue;
    }
 
    
}