<div class="navbar">
    <div class="user">
        <img [src]="logourl" >
        <h3><strong>POINT OF SALE SYSTEM</strong></h3>
        <h4 class="name text-warning"><Strong>{{fullname}}</Strong> <br> <span class="text-white">{{role}}</span></h4>

    </div>
    <div class="menu">
        <div class="menu-item">
            <div  *ngFor="let item of navData;let i = index">
                <button  (click)="selected(i)" [routerLink]="[item.routerLink]" mat-button [ngClass]="" class="" >
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span>{{item.label}}</span>
                </button>
            </div>
           
        </div>
    </div>
</div>