<table class="table table-striped table-responsive">
<thead>
    <tr>
        <th>Date of Transaction</th>
        <th>Customer</th>
        <th>Reference No.</th>
        <th>GCASH Account</th>
        <th>Transaction</th>
        <th>Type</th>
        <th>User</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let gcash of datasource">
        <td>{{gcash.Date | date: "MMMM dd, yyyy hh:mm:ss"}}</td>
        <td>
            <p>{{gcash.Customer.Name}}</p>
            {{gcash.Customer.Phone}}
        </td>
        <td>
            {{gcash.ReferenceNumber}}
        </td>
        <td>
            <p>{{gcash.User.Name}}</p>
            {{gcash.User.Phone}}
        </td>
        <td>
            Amount: {{gcash.Amount | number :'.2-2'}} <br>
            Fee: {{gcash.TransactionFee | number :'.2-2'}}
            <div *ngIf="gcash.FeeDeducted">
                Total: {{gcash.Amount - gcash.TransactionFee | number :'.2-2'}}
            </div>
        </td>
        
        <td>
            {{gcash.TransactionType}}
        </td>
        <td>
            {{gcash.CurrentUser}}
        </td>
    </tr>
</tbody>
</table>