<div class="main container-fluid">
    <div class="row fix-top">
        <mat-form-field  class="mt-3" appearance="fill" style="height: 70px;width: 100%;">
         
            <input #yourInput   (input)="filterProducts($event)" matInput placeholder="Enter keyword...">
            <mat-icon matSuffix>search</mat-icon>
           
          </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <div class="content mt-4">
          <div fxLayout=" wrap" fxLayoutGap="5px grid">
            <div fxFlex.xs="100%" *ngFor="let row of filteredProduct">
                <div (click)="addData(row)"  class="card p-2" style="height: 180px !important;width: 150px;">
                   
                    P{{row.Price | number: '1.2'}}
                    <img  height="100"    mat-card-image src="{{getImage(row)}}" />
                    {{row.Name}}
                    
                  

                </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>