<div class="container mt-2 mb-2">
    <h1>Payment History</h1>
    <p>Customer: {{customer.Name}} </p>
    <p>Total Amount (UTANG): {{customer.Total}}</p>
    <h1>Current Balance:  : {{customer.Balance}}</h1>
   
     <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Amount Paid
                </th>
                <th>
                    Changed
                </th>
                <th>
                    User
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of history ">
                <td>
                    {{h.Date | date: "MMMM dd, yyyy hh:mm:ss"}}
                </td>
                <td>
                    {{h.Amount | number : '.2-2'}}
                </td>
                <td>
                    {{h?.Changed || 0.00 | number : '.2-2'}}
                </td>
                <td>
                    {{h.User}}
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="close()" class="float-end mb-2" mat-flat-button color="primary">Close</button>
   
   
</div>