<div class="container mt-2 mb-2">
    <h1>Payment History</h1>
    <p>Customer: {{customer.Name}} </p>
    <p>Total Amount (UTANG): {{customer.Total}}</p>
    <div *ngIf="customer.Balance > 0 ">
        <h1>Current Balance:  : {{customer.Balance}}</h1>
   
    </div>
    <div *ngIf="customer.Balance <= 0">
        <h1>Status: PAID</h1>
    </div>
    
     <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1" class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th class="table-header">
                    Date
                </th>
                <th class="table-header">
                    Amount Paid
                </th>
                <th class="table-header">
                    Changed
                </th>
                <th class="table-header">
                    Received By
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of history ">
                <td>
                    {{h.Date | date: "MMMM dd, yyyy hh:mm:ss"}}
                </td>
                <td>
                    {{h.Amount | number : '.2-2'}}
                </td>
                <td>
                    {{h?.Changed || 0.00 | number : '.2-2'}}
                </td>
                <td>
                    {{h.User}}
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="close()" class="float-end mb-2" mat-flat-button color="primary">Close</button>
   
   
</div>