<form [formGroup]="form" (keydown.enter)="$event.preventDefault()" >



    <mat-card class="p-2">
        <mat-card-header>
            <mat-card-title>{{isStockin? "Stock In" : isConsume? 'Family Consume' : "Stock Out"}}</mat-card-title>
            <mat-card-subtitle>User: {{currentUser.Name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div *ngIf="isBarcode" class="row ">
                <mat-form-field class="example-full-width">
                    <mat-label>Barcode</mat-label>
                    <input  matInput type="text" (keydown.enter)="checkProduct($event)" formControlName="Barcode" placeholder="Enter Barcode">
                </mat-form-field>
        
            </div>

            <h2>{{currentProduct?.Name || 'Select Product'}}</h2>
            <div class="row ">
                <mat-form-field class="example-full-width">
                    <mat-label>Current Stocks</mat-label>
                    <input matInput type="number" readonly="true" [value]="currentProduct?.Stocks?.Quantity || 0">
                </mat-form-field>

            </div>

            <div class="row ">
                <mat-form-field class="example-full-width">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" formControlName="Quantity" placeholder="Enter quantity">
                </mat-form-field>

            </div>

        </mat-card-content>
        <mat-card-actions align="end">
            <button color="warn" mat-button mat-dialog-close>Cancel</button>
            <button mat-button (click)="create()" >{{isStockin? "Stock In" : isConsume? 'Consume':  "Stock Out"}}</button>
        </mat-card-actions>
    </mat-card>

</form>