


mat-toolbar,.toolbar{
    position: sticky !important;
    top: 0;
    z-index: 2;
    background-color: #0f172a;
    color: white;
    justify-content: space-between;
    .box{
        margin-top: 15px;
        color: #ffffff ;
    }
}




.sticktop{
    position: sticky !important;
    top: 0;
    z-index: 2;
}

.total{
    background-color: #0f172a;
    border-radius: 5px;
    strong{
        font-size: 2rem;
    }
}


.search-header{
    height: 50px;

}
.main-frame{
    height: 100vh;
}
.products{
    height: 90%;
}

.cart-table{
    height: 50vh;
    overflow: auto;
}

table{
    overflow-x: hidden;
    width: 100%;
}

.product-list{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    display: flex !important;
    flex-wrap: wrap;
    gap: 10px;

}

.example-full-width{
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
}












