<p class="page-header">Products</p>

<button *ngIf="!openeditor" class="mb-2" mat-raised-button type="submit" color="primary" (click)="addNew()">Add New Product</button>

<div *ngIf="openeditor" class="container-fluid">
    <div class="">
        <div class="m-3">
            <div *ngFor="let alerts of defaultAlert">
                <alert [dismissible]="true" [dismissOnTimeout]="alerts.timeout" [type]="alerts.type">
                    <strong>Message: </strong> {{alerts.msg}}
                </alert>
            </div>
    
        </div>
    </div>
    
    <div class=" mb-3">

        <form (keydown.enter)="$event.preventDefault()" [formGroup]="form" #formDirective="ngForm">

            <mat-accordion class="example-headers-align">
                <mat-expansion-panel expanded="opened">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <Strong>Product Editor</Strong>
                        </mat-panel-title>
                        <mat-panel-description>
                            Make sure to fill up all the required fields.
                            <button (click)="reloadPage()"  mat-icon-button >
                            <mat-icon>close</mat-icon>
                        </button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <!--Personal information-->
                    <div class="row">
                        <div class="col">
    
                            <mat-form-field class="example-full-width">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="category" value="">
    
                                    <mat-option [value]="row.Name" *ngFor="let row of categories">{{row.Name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
    
    
                    </div>
    
                    <div class="row">
                        <div class="col">
    
                            <mat-form-field class="example-full-width">
                                <mat-label>Product Name</mat-label>
                                <input matInput formControlName="name" placeholder="Enter first name">
                            </mat-form-field>
    
                        </div>
    
                    </div>
    
    
                    <!-- end-->
    
                    <!--user account-->
                 
                        <div class="col">
    
                            <mat-form-field class="example-full-width">
                                <mat-label>Sold by</mat-label>
                                <mat-select #sold formControlName="soldby" (valueChange)="soldbyChanged($event)" value="Quantity">
                                    <mat-option value="Quantity">Quantity</mat-option>
                                    <mat-option value="Weight">Weight</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="form.controls.soldby.value === 'Weight'" class="col-2">
    
                            <mat-form-field class="example-full-width">
                                <mat-label>Weight</mat-label>
                                <input matInput type="number" formControlName="weight" placeholder="Enter password">
                            </mat-form-field>
    
    
                        </div>
    
                        <div *ngIf="form.controls.soldby.value === 'Weight'" class="col">
    
    
                            <mat-form-field class="example-full-width">
                                <mat-label>Unit of Measurement</mat-label>
                                <input matInput type="text" formControlName="unit" value="Kg"
                                    placeholder="Enter unit of Measurement">
                            </mat-form-field>
                        </div>
    
    
                        <div class="col">
    
                            <mat-form-field class="example-full-width">
                                <mat-label>Quantity</mat-label>
                                <input [readonly]="readonly" matInput type="number" formControlName="quantity"
                                    placeholder="0">
                            </mat-form-field>
    
                        </div>
                        <div class="col">
    
                            <mat-form-field class="example-full-width">
                                <mat-label>Threshold</mat-label>
                                <input matInput type="number" formControlName="threshold" placeholder="0">
                            </mat-form-field>
    
                        </div>
    
    
               
               
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Barcode</mat-label>
                                <input matInput formControlName="barcode" placeholder="Enter product barcode">
                            </mat-form-field>
                        </div>
    
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>SKU (optional)</mat-label>
                                <input matInput formControlName="sku" placeholder="Enter product SKU">
                            </mat-form-field>
                        </div>
    
                  
    
    
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Cost</mat-label>
                                <input matInput type="number" formControlName="cost" placeholder="0.00">
                            </mat-form-field>
                        </div>
    
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Price</mat-label>
                                <input matInput type="number" formControlName="price" placeholder="0.00">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <p><mat-checkbox formControlName="essential">Essential?</mat-checkbox></p>
                        </div>
    
                
                    <!--edd of account-->
    
                    <div class="row">
                        <!---image-->
                        <div class="col-3">
                            <img [src]="imgurl" width="220" height="220" alt="" class="mb-2">
                            <input formControlName="image" (change)="onFileSelected($event)" #fileInput type="file">
    
                        </div>
                        <!---end of image-->
                    </div>
                    <mat-action-row align="">
                        <button mat-button  color="light" (click)="reloadPage()">Cancel</button>
                        <button mat-raised-button type="submit" color="primary" (click)="create(formDirective)">{{updating?
                            'Update Product': 'Add Product'}}</button>
                    </mat-action-row>
    
                </mat-expansion-panel>
    
    
    
            </mat-accordion>
    
        </form>
    
    </div>
</div>

<p *ngIf="!openeditor">
    <mat-card>
        <mat-card-header>
            <mat-form-field class="example-full-width">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Enter keywords here..." #input>
            </mat-form-field>


        </mat-card-header>

        <div class="row">
            <div class="col-6 float-left">
                <mat-paginator [pageSizeOptions]="[25,50,100]"></mat-paginator>

            </div>
            <div class="col-6">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle (click)="filterBy('Available')">Available</mat-button-toggle>
                    <mat-button-toggle (click)="filterBy('Low')">Low on Stocks</mat-button-toggle>
                    <mat-button-toggle (click)="filterBy('Out')">Out of Stocks</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>


        <mat-card-content>


            <section class="mat-elevation-z2">
                
            <table (matSortChange)="sortChange($event)" mat-table class="table table-responsive table-hover" [dataSource]="datasource" matSort>
                <ng-container matColumnDef="barcode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
                    <td mat-cell *matCellDef="let row">{{row.Serials.Barcode}}</td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let row">{{row.Category}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let row">{{row.Name}}</td>
                </ng-container>
                <ng-container matColumnDef="stocks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stocks</th>
                    <td mat-cell *matCellDef="let row">{{row.Stocks.Quantity ? row.Stocks.Quantity : 'Not Available'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
                    <td mat-cell *matCellDef="let row">{{row.Cost | number: '.2-2' }}/ {{row.Stocks.UnitofMeasurement ==
                        'None'? "Pcs": row.Stocks.UnitofMeasurement }}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                    <td mat-cell *matCellDef="let row">{{row.Price | number: '.2-2'}}/ {{row.Stocks.UnitofMeasurement ==
                        'None'? "Pcs": row.Stocks.UnitofMeasurement }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let row">{{getProductStatus(row)}}</td>
                </ng-container>
                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="example-flex-container">
                            <button matTooltip="Product Stock in / Stock out" mat-icon-button
                                [matMenuTriggerFor]="menu">
                                <mat-icon>launch</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="editStock(row,true)" mat-menu-item>Stock In</button>
                                <button (click)="editStock(row,false)" mat-menu-item>Stock Out</button>
                                <button (click)="editStock(row,false,'Consume')" mat-menu-item>Consume</button>
                            </mat-menu>
                            <button matTooltip="Edit product" (click)="edit(row)" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button matTooltip="Delete Product" (click)="delete(row,formDirective)" mat-icon-button
                                color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </div>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            </section>

        </mat-card-content>

    </mat-card>
</p>