<p class="page-header">Products</p>

<div class="ro">
    <div class="m-3">
        <div *ngFor="let alerts of defaultAlert">
            <alert [dismissible]="true" [dismissOnTimeout]="alerts.timeout" [type]="alerts.type">
                <strong>Message: </strong> {{alerts.msg}}
            </alert>
        </div>

    </div>
</div>

<div class="row mb-3">+
    

    <form [formGroup]="form">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel (click)="togglePanel(true)" [expanded]="panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <Strong>Product Editor</Strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!--Personal information-->
                <div class="row">
                    <div class="col">

                        <mat-form-field class="quarter-width">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category" value="">

                                <mat-option [value]="row.Name" *ngFor="let row of categories">{{row.Name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <mat-form-field class="example-full-width">
                            <mat-label>Product Name</mat-label>
                            <input matInput formControlName="name" placeholder="Enter first name">
                        </mat-form-field>

                    </div>

                </div>


                <!-- end-->

                <!--user account-->
                <div class="row">
                    <div class="col-2">

                        <mat-form-field class="example-full-width">
                            <mat-label>Sold by</mat-label>
                            <mat-select #sold formControlName="soldby" value="Quantity">
                                <mat-option value="Quantity">Quantity</mat-option>
                                <mat-option value="Weight">Weight</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="form.controls.soldby.value === 'Weight'"  class="col-2">

                        <mat-form-field class="example-full-width">
                            <mat-label>Weight</mat-label>
                            <input matInput type="number" formControlName="weight" placeholder="Enter password">
                        </mat-form-field>

                       
                    </div>

                    <div *ngIf="form.controls.soldby.value === 'Weight'"  class="col">

               
                        <mat-form-field class="example-full-width">
                            <mat-label>Unit of Measurement</mat-label>
                            <input matInput type="text" formControlName="unit" value="Kg" placeholder="Enter unit of Measurement">
                        </mat-form-field>
                    </div>

                    
                    <div class="col-2">

                        <mat-form-field class="example-full-width">
                            <mat-label>Quantity</mat-label>
                            <input  matInput type="number" formControlName="quantity"
                                placeholder="0">
                        </mat-form-field>

                    </div>
                    <div class="col-2">

                        <mat-form-field class="example-full-width">
                            <mat-label>Threshold</mat-label>
                            <input matInput type="number" formControlName="threshold" placeholder="0">
                        </mat-form-field>

                    </div>


                </div>

                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Barcode</mat-label>
                            <input matInput formControlName="barcode" placeholder="Enter product barcode">
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>SKU (optional)</mat-label>
                            <input matInput formControlName="sku" placeholder="Enter product SKU">
                        </mat-form-field>
                    </div>

                </div>


                <div class="row">

                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Cost</mat-label>
                            <input matInput type="number" formControlName="cost" placeholder="0.00">
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Price</mat-label>
                            <input matInput type="number" formControlName="price" placeholder="0.00">
                        </mat-form-field>
                    </div>

                </div>
                <!--edd of account-->

                <div class="row">
                    <!---image-->
                    <img [src]="selectedFile?.name" width="120" height="120" alt="">
                    <input formControlName="image" (change)="onFileSelected($event)" #fileInput type="file">
                  
                    <!---end of image-->
                </div>
                <mat-action-row align="start">

                    <button mat-raised-button color="primary" (click)="create()">{{updating? 'Update Product': 'Add Product'}}</button>
                </mat-action-row>

            </mat-expansion-panel>



        </mat-accordion>

    </form>

</div>

<p>
    <mat-card>

        <mat-card-content>
            <table mat-table class=" table-responsive" [dataSource]="datasource" matSort>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let row">{{row.Category}} {{row.Name.Firstname}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let row">{{row.Name}}</td>
                </ng-container>
                <ng-container matColumnDef="stocks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stocks</th>
                    <td mat-cell *matCellDef="let row">{{row.Stocks.Quantity ? row.Stocks.Quantity : 'Not Available'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
                    <td mat-cell *matCellDef="let row">{{row.Cost}}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                    <td mat-cell *matCellDef="let row">{{row.Price}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let row">{{getProductStatus(row)}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="example-flex-container">
                            <button (click)="edit(row)" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="delete(row)" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </div>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

        </mat-card-content>
        <mat-card-actions>
            <mat-paginator [pageSizeOptions]="[10,25,50,100]"></mat-paginator>
        </mat-card-actions>
    </mat-card>
</p>