<div class="container">

    <div class="cards">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{totaldebitUnpaid | number:'0.00'}}</mat-card-title>
            <mat-card-subtitle>Total Sales Today</mat-card-subtitle>
            <img mat-card-sm-image src="assets/sales.png" >
          </mat-card-title-group>
        </mat-card-header>

      </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{totalSales | number:'0.00'}}</mat-card-title>
                <mat-card-subtitle>Total Sales</mat-card-subtitle>
                <img mat-card-sm-image src="assets/sales.png" >
              </mat-card-title-group>
            </mat-card-header>
    
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{paid | number:'0.00'}}</mat-card-title>
                <mat-card-subtitle>Total Sales Paid</mat-card-subtitle>
                <img mat-card-sm-image src="assets/sales.png" >
              </mat-card-title-group>
            </mat-card-header>
    
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{unpaid | number:'0.00'}}</mat-card-title>
                <mat-card-subtitle>Total Sales Unpaid</mat-card-subtitle>
                <img mat-card-sm-image src="assets/sales.png" >
              </mat-card-title-group>
            </mat-card-header>
    
          </mat-card>

          

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{totalItems | number:'0.00'}}</mat-card-title>
                <mat-card-subtitle>Total Items</mat-card-subtitle>
                <img mat-card-sm-image src="assets/product.png" >
              </mat-card-title-group>
            </mat-card-header>
    
          </mat-card>
 <!---
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{totalSales | number:'0.00'}}</mat-card-title>
                <mat-card-subtitle>Total Sales</mat-card-subtitle>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
            </mat-card-header>
    
          </mat-card>-->
    </div>


</div>